body {
    padding-top: 70px;
}

.container-pad-lg {
    padding-left: 5%;
    padding-right: 5%;
}

/*--------------------------------------------------NAV*/

.navbar-header a,
.navbar-nav > li > a.text-link {
    line-height: 35px;
}

.navbar-nav > li > a span.glyphicon {
    font-size: 30px;
}

/*--------------------------------------------------FORMS*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/*--------------------------------------------------MEDIA QUERIES*/

@media (min-width: 768px) {
    .navbar-align-right {
        float: right;
    }
}